:root {
    --clr-wht: #fbf8ef;
    --clr-blk: #000000;
    --clr-act: #e5e0d7;
}

@font-face {
    font-family: "pacifico";
    src: url("./pacifico.ttf");
}

@font-face {
    font-family: "concord";
    src: url("./concord.ttf");
}

@font-face {
    font-family: "dripicons";
    src: url("./dripicons-v2.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--clr-blk);
}
#map {
    position: absolute;
    z-index: 1000;
    top: 10vw;
    left: 25vw;
    width: 50vw;
    height: 75vh;

}
html,
body {
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

#background {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-wht);
}

@keyframes hide-splash-screen {
    to {
        opacity: 0;
        z-index: -3;
    }
}

#splash-screen {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-act);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 100%;
    animation: hide-splash-screen .2s linear 1.5s;
    animation-fill-mode: forwards;
}

#splash-screen * {
    margin: 0.75rem;
    color: var(--clr-blk);
}

#splash-screen img~p {
    margin-top: 1.25rem;
}

#splash-screen img {
    width: 75vw;
    height: 75vw;
    border-radius: 5vw;
}

@media only screen and (min-width: 600px) {
    #splash-screen img {
        width: 35vh;
        height: 35vh;
    }
}

#splash-screen h1 {
    font-family: "pacifico";
    font-size: 2rem;
}

#splash-screen p {
    font-size: 1.25rem;
}

header {
    font-size: 0;
    display: block;
    width: 100vw;
    height: 5rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.255);
    background-color: var(--clr-wht);
}

header>div {
    vertical-align: top;
}

div.w80 {
    display: inline-block;
    width: 80vw;
    height: 100%;
}

div.w20 {
    display: inline-block;
    height: 100%;
    width: 20vw;
}

header p:hover {
    background-color: var(--clr-act);
}

header p:active,
header h1:active {
    background-color: var(--clr-blk);
    color: var(--clr-wht);
}

header a {
    text-decoration: none;
    color: var(--clr-blk);
}

header img {
    height: 5rem;
}

header p {
    font-family: "dripicons";
    font-size: 1.5rem;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 0 0 0 var(--clr-blk);
    cursor: pointer;
    color: var(--clr-blk);
}

nav {
    position: absolute;
    top: 5rem;
    z-index: -1;
    width: 100vw;
    background-color: var(--clr-wht);
    box-shadow: 0 1px 0 0 var(--clr-blk);
}

nav.hidden {
    display: none;
}

nav>a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--clr-wht);
    color: var(--clr-blk);
    box-shadow: 0 -1px 0 0 var(--clr-blk);
    cursor: pointer;
}

nav>a:hover {
    background-color: var(--clr-act);
}

nav>a:active {
    background-color: var(--clr-blk);
    color: var(--clr-wht);
}

section {
    display: block;
    position: relative;
    z-index: -2;
    height: calc(100vh - 5rem);
    width: 100vw;
}