@font-face {
    font-family: "vegan-style";
    src: url("./vegan-style.ttf");
}

@font-face {
    font-family: "handycheera";
    src: url("./handycheera.otf");
}

@font-face {
    font-family: "pacifico";
    src: url("./pacifico.ttf");
}

@font-face {
    font-family: "dripicons";
    src: url("./dripicons-v2.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: white;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.topnav a.title {
    font-size: 2rem;
    font-family: "pacifico";
}


/* Style the hamburger menu */

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "dripicons";
    height: 3.5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) */

.active {
    background-color: #04AA6D;
    color: white;
}